@import "mixins/menu/burger";

$color-sand: #F2E7D4;
$color-orange: #FF5711;
$color-orange-dark: #EE6330;
$color-blue: #2B368F;
$color-pink: #FF9FCB;

@font-face {
    font-family: customFont;
    src: url('/assets/fonts/2021/Roberta.TTF');
}

.burger-icon {
    @include burger(16px, 2px, 5px, $color-blue);
}

.menu-button.is-active .burger-icon {
    @include burger-to-cross;
}

.navigation {
    background-color: $color-sand;

    .link {
        color: $color-blue;
    }

    .button {
        color: $color-sand;
        background-color: $color-blue;
    }

    .menu {
        background-color: $color-sand;
    }
}

.hero {
    background-color: $color-orange-dark;

    &-button {
        background-color: $color-blue;
    }

    &-subsection {
        background-color: $color-orange-dark;
    }
}

.landing {
    &-content {
        &-heading {
            color: $color-orange;
        }

        &-block {
            background-color: $color-blue;
        }

        &-about {
            color: $color-pink;
        }

        &-button {
            background-color: $color-orange;
            color: $color-blue;
        }
    }
}

.footer {
    background-color: $color-sand;
}

.banner {
    &-heading {
        color: $color-orange;
    }
}

.archive,
.prizes {
    background-color: $color-blue;
}

.read-more {
    .icon {
        .archive & {
            fill: $color-sand;
        }
    }

    .archive & {
        color: $color-sand;
    }
}

.jury-group-title {
    color: $color-pink;
}

.jury-card {
    h3, h4 {
        color: $color-pink;
    }

    h5 {
        color: $color-sand;
    }
}

.element.page-title {
    font-family: customFont;

    .archive &,
    .prizes &{
        color: $color-pink;
        text-shadow: 8px 8px 0 $color-orange;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $color-orange;
    }

    .jury-single & {
        color: $color-sand;
        text-shadow: 8px 8px 0 $color-blue;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $color-blue;
    }
}

.jury-single{
    background-color: $color-pink;

    .element {
        &.page-sub-title,
        &.content {
            color: $color-blue;
        }
    }
}

.prize-card {
    h2 {
        color: $color-orange;
    }

    p {
        color: $color-sand;
    }
}

@media screen and (min-width: 880px) {
    .jury-single {
        .element {
            .avatar {
                &-image {
                    box-shadow: 16px 16px $color-orange;
                }
            }
        }
    }
}
